@model project.Models.Room

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/userMain.css">
}
<h4>刪除房間</h4>

<h3>確認要刪除嗎?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayPrice)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RoomNumber" />
        <input type="submit" value="刪除" class="btn btn-danger" />
        <a asp-action="Index">回上一頁</a>
    </form>
</div>
