
@model IEnumerable<project.Models.Room>
@using project.Models.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var car = HttpContextAccessor.HttpContext.Session.Get<List<Item>>("Cart");
    var start = HttpContextAccessor.HttpContext.Session.GetString("start");
    var end = HttpContextAccessor.HttpContext.Session.GetString("end");
    var total = HttpContextAccessor.HttpContext.Session.GetString("Total");
}

@{
    ViewData["Title"] = "Check";
}
@*@{
        Layout = "_Layout _reserve";
    }*@
@section css
    {
    <link rel="stylesheet" href="~/css/booking_file.css">
}


<body style=" background-color: rgb(248, 241, 229)">
    <article class="main">
        <section id="orderpage">
            <div class="container">
                <h2> 確認您的預訂資料 </h2>
                @*<div class="row">*@
                <!--房間照片簡介及預訂數量選擇-->
                <div class="order_info">
                    <div class="orderroom">
                        <div class="checkindate" style="background-color:black">
                            <h3>預訂日期:<br />@start~@end</h3>
                        </div>

                        @foreach (var item in car)
                        {
                            <div class="orderlist row" style="margin:5PX">

                                <!--(左)房間照片，手動輪播-->
                                <div class="orderroom_img col-12 col-lg-3" style="padding: 0;">
                                    <div id="myCarousel@(item.RoomType)" class="carousel slide" data-ride="carousel ">
                                        <!-- 連結導引項目 -->
                                        <ul class="carousel-indicators">
                                            <li data-target="#myCarousel@(item.RoomType)" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel@(item.RoomType)" data-slide-to="1"></li>
                                            <li data-target="#myCarousel@(item.RoomType)" data-slide-to="2"></li>
                                        </ul>
                                        <!--圖片顯示區, 幻燈片圖片 -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item">
                                                <img src="@Url.Content(item.Photo1)">
                                            </div>
                                            <div class="carousel-item active">
                                                <img src="@Url.Content(item.Photo)">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="@Url.Content(item.Photo2)" />
                                            </div>
                                        </div>
                                        <!-- 前後切換連結-->
                                        <!--<a class="carousel-control-prev" href="#myCarousel"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#myCarousel"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>-->
                                    </div>
                                </div>

                                <!--(右)房間簡介及預訂-->
                                <div class="orderroom_all col-lg-9 col-12">
                                    <div class="orderroom_txt">
                                        <!--暫定 要從資料庫抓資訊呈現 我不知道要呈現啥 到時候再設框架?????-->
                                        <h5 id="demo" name="RoomName">@(item.RoomName) </h5>
                                        <ul>
                                            @if (item.ShowerRoom.Equals("有"))
                                            {
                                                <li><i class="fas fa-shower"></i>  淋浴間</li>
                                            }
                                            @if (item.Singlebed.Equals("有"))
                                            {
                                                <li><i class="fas fa-bed"></i> 單人床</li>
                                            }
                                            @if (item.Doublebed.Equals("有"))
                                            {
                                                <li><i class="fas fa-bed"></i> 雙人床</li>
                                            }
                                            @if (item.Airconditioning.Equals("有"))
                                            {
                                                <li><i class="far fa-snowflake"></i> 空調</li>
                                            }
                                        </ul>
                                        @*<p>入住期間:<br>@start~@end</p><br>*@
                                        <p style="float:right">價格:$<span id="price" name="DayPrice">@(item.DayPrice)*@(item.Quantity)=@(item.Total) </span></p><br>

                                    </div>

                                </div>

                            </div>
                        }

                        <div style="float:right">總價:@total</div><br />
                    </div>
                    <div class="formInfo">
                        <form name="bookingForm" method="post" onsubmit="return validateForm()" action="">
                            <input type="hidden" name="start" value="@start"><!--傳遞日期 不顯示-->
                            <input type="hidden" name="end" value="@end">
                            <div class="orderbox clearfix">
                                <h4>1.您的詳情</h4>
                                <div class="book_order">
                                    <div class="form-row">
                                        <div class="form-group col-12 col-md-6">
                                            <label for="lastName1"><span class="mustWrite" style="color:red;">*&nbsp;</span>名字</label>
                                            <input type="text" class="form-control" name="lastName1" id="lastName1" placeholder="名字" required>
                                            <div class="help-block with-errors"></div>

                                        </div>

                                        <div class="form-group col-12 col-md-6">
                                            <label for="firstname1"><span class="mustWrite" style="color:red;">*&nbsp;</span>姓氏</label>
                                            <input type="text" class="form-control" name="firstName1" id="firstname1" placeholder="姓氏" required>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group col-12 col-md-6">
                                            <label for="email11"><span class="mustWrite" style="color:red;">*&nbsp;</span>電子郵箱</label>
                                            <input type="email" class="form-control" name="email1" id="email11" data-error="郵件格式錯誤" @*onblur="checkEmail(this,'1')"*@ placeholder="電子郵箱" required>
                                            @*<div id="emailErrorMsg" style="color: red;"></div>*@
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group col-12 col-md-6">
                                            <label for="ckemail1"><span class="mustWrite" style="color:red;">*&nbsp;</span>確認電子郵箱</label>
                                            <input type="email" class="form-control" name="ckemail1" id="ckemail1" data-match="#email11" data-error="電子郵箱未吻合！" @*onblur="checkEmail(this,'2')"*@ placeholder="確認子郵箱" required>
                                            <div id="ckemailErrorMsg" style="color: red;"></div>
                                        </div>

                                        <div class="form-group col-12 col-md-6">
                                            <label for="phone1"><span class="mustWrite" style="color:red;">*&nbsp;</span>電話</label>
                                            <input type="tel" class="form-control" name="phone1" id="phone1" placeholder="電話" required>
                                            @*<div class="help-block with-errors"></div>*@
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        @*<div class="form-group col-6 col-md-3">
                                                <label for="adult">成人</label>
                                                <input type="text" class="form-control" name="adult" id="adult" placeholder="成人人數" required>
                                            </div>
                                            <div class="form-group col-6 col-md-3">
                                                <label for="kid">小孩</label>
                                                <input type="text" class="form-control" name="kid" id="kid" placeholder="小孩人數" required>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="forwho form-group col-12 col-md-12">
                                    <div class="for form-group col-12 col-md-6">
                                        <label for="orderroom"><span class="mustWrite" style="color:red;">*&nbsp;</span>您為誰訂房呢?</label> <br>
                                        <input class="whocome" type="radio" name="whocome" value="customer" id="myself" required><label for="myself">
                                            本人入住
                                        </label>
                                        <br>
                                        <input class="whocome" type="radio" name="whocome" value="customer" id="other"><label for="other">幫別人訂房</label>
                                    </div>
                                    <div class="information" style="display:none">
                                        <div class="row">
                                            <div class="form-group col-12 col-md-6">
                                                <label for="name"><span class="mustWrite" style="color:red;">*&nbsp;</span>入住者全名</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="姓氏" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label for="phone"><span class="mustWrite" style="color:red;">*&nbsp;</span>入住者電話</label>
                                                <input type="tel" class="form-control" name="phone" id="phone" placeholder="電話" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label for="email"><span class="mustWrite" style="color:red;">*&nbsp;</span>入住者電子郵箱</label>
                                                <input type="email" class="form-control" name="email" id="email" data-error="郵件格式錯誤" placeholder="電子郵箱" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mes" for="message"> 有甚麼特別的要求嗎? </label> <br>
                                        <textarea class="message" name="message" rows="5" id="message" style="width:100%"></textarea>
                                    </div><br>
                                    <div>
                                        <p>幫助我們確保在您抵達時歡迎您及為您順利辦理入住手續。　<p>
                                            <select name="YourTime">
                                                <option>您預計抵達的時間? </option>
                                                <option value="1500">3:00PM(15:00)</option>
                                                <option value="1600">4:00PM(16:00)</option>
                                                <option value="1700">5:00PM(17:00)</option>
                                                <option value="1800">6:00PM(18:00)</option>
                                                <option value="1900">7:00PM(19:00)</option>
                                                <option value="2000">8:00PM(20:00)</option>
                                                <option value="2100">9:00PM(21:00)</option>
                                                <option value="2200">10:00PM(22:00)</option>
                                                <option value="2300">11:00PM(23:00)</option>
                                                <option value="2300">不確定</option>
                                            </select>
                                    </div>

                                    <!--<div>
                                    <button id="confirm" type="button" class="btn1 float-right" style="font-size:18PX"> 繼續 </button>-->
                                    <!--資料都填寫完 才能按繼續 就能顯示出下面欄位-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div id="pay" class="orderbox clearfix" @*style="display:none"*@>
                                <h4>2.完成預訂</h4>
                                <div class="pay_order">
                                    <div class="form-row">
                                        <div class="form-group col-12 col-md-12">
                                            @*<span>付款方式?</span> <input type="radio" name="creditCard" value="creditCard" checked disabled>*@
                                            <strong>信用卡</strong> <img src="~/img/reserve/pay/JCB.png" />
                                            <img src="~/img/reserve/pay/MasterCard.png" />
                                            <img src="~/img/reserve/pay/VISA.png" />
                                            <br /><span style="font-size:10PX;">您所提供的信用卡資訊僅用於擔保此次的訂房，尚未扣款所有款項，款項將於入住飯店期間支付系統。</span>
                                        </div>
                                        <div class="form-group col-6 col-md-6">
                                            <label for="cardname"><span class="mustWrite" style="color:red;">*&nbsp;</span>持卡人姓名</label>
                                            <input type="text" name="CreditName" class="form-control" id="cardname" placeholder="持卡人姓名">
                                        </div>
                                        <div class="form-group col-6 col-md-6">
                                            <label for="cardnumber"><span class="mustWrite" style="color:red;">*&nbsp;</span>信用卡號碼</label>
                                            <input type="text" name="CardNumber" class="form-control" id="cardnumber" placeholder="信用卡號碼">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="month"><span class="mustWrite" style="color:red;">*&nbsp;</span>月</label>
                                            <input type="text" name="Month" class="form-control" id="month" placeholder="月">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="year"><span class="mustWrite" style="color:red;">*&nbsp;</span>年</label>
                                            <input type="text" name="Year" class="form-control" id="year" placeholder="年">
                                        </div>
                                        <div class="form-group col-6 col-md-4">
                                            <label for="CVV"><span class="mustWrite" style="color:red;">*&nbsp;</span>驗證碼</label>
                                            <input type="text" name="Cvv" class="form-control" id="CVV" placeholder="CVV驗證碼">
                                        </div>
                                    </div>

                                    <p>
                                        <small>此預訂不能取消，也不可修改。如果No-Show無故不來，將收取1晚罰金。</small>
                                    </p>
                                    <p> <small>確認預訂即表示您接受我們的條款與條件以及隱私政策。</small></p>
                                    <div>
                                        <button type="submit" class="float-right" style="font-size:18PX" asp-controller="Reserve" asp-action="Checkout">確認送出</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--總價-->
                @*<div id="check_box" class="check_box col-12 col-md-3 " style="position:absolute;top:0;right:0">
                        <form method="post" class="checkform">
                            <div class="dropdown-item" style="padding:0"><span>@start</span>~<span>@end</span></div>
                            <div>總價:@total</div></form>
                    </div>*@
            </div>
            @*</div>*@
        </section>
    </article>
    <script>

        $(document).ready(function () {
            $(".whocome").click(function () {
                if ($('input[name="whocome"]')[0].checked == true) //判斷第一項是不是選取 若選取則抓上面欄位的值
                {
                    $(".information").slideDown();
                    var name = document.getElementById("firstname1").value + document.getElementById("lastName1").value;
                    document.getElementById("name").value = name;
                    document.getElementById("phone").value = document.getElementById("phone1").value;
                    document.getElementById("email").value = document.getElementById("email11").value;
                }
                if ($('input[name="whocome"]')[1].checked == true) { //判斷第一項是不是選取 若選取則清空下面欄位的值
                    $(".information").slideDown();
                    document.getElementById("name").value = null;
                    document.getElementById("phone").value = null;
                    document.getElementById("email").value = null;

                }
            });

            $("#confirm").click(function () {
                var firstname = $("input[name=firstName1]").val();
                var lastname = $("input[name=lastName1]").val();
                var email = $("input[name=email1]").val();
                var ckemail = $("input[name=ckemail1]").val();
                var phone = $("input[name=phone1]").val();
                if (checkValue(firstname) || checkValue(lastname) || checkValue(email) || checkValue(ckemail) || checkValue(phone)) {
                    alert("請填寫資料");
                    style = "cursor:no-drop";
                    return false;
                }
                $("#pay").slideDown();
            });
            $(".mes").click(function () {
                $(".message").animate({
                    height: 'toggle'
                });
            });
        });
        function checkValue(val) {
            //<!-- val is null -->
            if (val == null) {
                return true;
            }
            //<!-- 把輸入空白字元替換空字串再去取字串長度是不是等於0 -->
            else if (val.replace(/(^s*)|(s*$)/g, "").length == 0) {
                return true;
            } else {
                return false;
            }
        }
        function checkEmail(email, action) {
            var regExp = /^([a-zA-Z0-9._%-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4})*$/;
            if (email.value != null && email.value.length > 0) {
                if (regExp.test(email.value)) {
                    if (action != null && action == "1") {
                        $('#emailErrorMsg').html("");
                    } else if (action == "2") {
                        $('#ckemailErrorMsg').html("");
                        compareValue();
                    }
                } else {
                    if (action != null && action == "1") {
                        $('#emailErrorMsg').html("電子信箱格式錯誤");
                    } else if (action == "2") {
                        $('#ckemailErrorMsg').html("電子信箱格式錯誤");
                    }
                }
            } else {
                if (action != null && action == "1") {
                    $('#emailErrorMsg').html("必填!請輸入電子信箱");
                } else if (action == "2") {
                    $('#ckemailErrorMsg').html("必填!請輸入電子信箱");
                }
            }
        }
        function compareValue() {
            var email = $("#email1").val();
            var ckemail = $("#ckemail1").val();
            if (email != null && ckemail != null && !checkValue(email) && !checkValue(ckemail)) {
                if (email == ckemail) {
                    $('#ckemailErrorMsg').html("");
                } else {
                    $('#ckemailErrorMsg').html("電子信箱不一致");
                }
            }
        }


    </script>

</body>