@model IEnumerable<project.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/userMain.css">
}

<h1>員工資料</h1>
<a asp-action="Create">新增員工資料</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-WID="@item.WID">編輯</a> |
                    <a asp-action="Details" asp-route-WID="@item.WID">詳細</a> |
                    <a asp-action="Delete" asp-route-WID="@item.WID">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="User" asp-action="Create">新增員工帳號</a>
</div>
