@model project.Models.Introduction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/userMain.css">
}
<div>

    <h4>房間介紹詳情</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Singlebed)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Singlebed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doublebed)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Doublebed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TV)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.TV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airconditioning)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Airconditioning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bathtub)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Bathtub)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tellphone)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Tellphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Refrigerator)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Refrigerator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowerRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.ShowerRoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTxt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomTxt)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-RoomType="@Model.RoomType">編輯</a> |
    <a asp-action="Index">回上一頁</a>
</div>

<br />