@model IEnumerable<project.Models.Introduction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/css/userMain.css">
}
<h1>
    房間介紹
</h1>
<a asp-action="Create">新增房間介紹</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Singlebed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doublebed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Airconditioning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bathtub)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tellphone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Refrigerator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowerRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomTxt)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.Raw(item.Singlebed)
                    </td>
                    <td>
                        @Html.Raw(item.Doublebed)
                    </td>
                    <td>
                        @Html.Raw(item.TV)
                    </td>
                    <td>
                        @Html.Raw(item.Airconditioning)
                    </td>
                    <td>
                        @Html.Raw(item.Bathtub)
                    </td>
                    <td>
                        @Html.Raw(item.Tellphone)
                    </td>
                    <td>
                        @Html.Raw(item.Refrigerator)
                    </td>
                    <td>
                        @Html.Raw(item.ShowerRoom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomTxt)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-RoomType="@item.RoomType">編輯</a> |
                    <a asp-action="Details" asp-route-RoomType="@item.RoomType">詳細</a> |
                    <a asp-action="Delete" asp-route-RoomType="@item.RoomType">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
