@model IEnumerable<project.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/userMain.css">
}
<h1>
    訂房狀況
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nights)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nights)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.ID">加訂顧客房間</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID" asp-route-roomnumber="@item.RoomNumber">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" asp-route-roomnumber="@item.RoomNumber">詳細</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" asp-route-roomnumber="@item.RoomNumber">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />